[submodule "otfusion"]
	path = lib/otfusion
	url = git@github.com:mkotyushev/otfusion.git
[submodule "graphnet"]
	path = lib/graphnet
	url = git@github.com:mkotyushev/graphnet.git
[submodule "lib/loss-surface-simplexes"]
	path = lib/loss-surface-simplexes
	url = git@github.com:mkotyushev/loss-surface-simplexes.git
